@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


body{
    font-family: 'Karla', sans-serif;
    background: hsl(204, 43%, 93%);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, 20%);
    }

.maincon{
    width: 730px;
    height: 520px;
    background: white;
    border-radius: 10px;
   
}

.title{
    color: hsl(179, 62%, 43%);
}

.subtitle{
    color: hsl(71, 73%, 54%);
}


.paragraph{
color:  hsl(218, 22%, 67%);
line-height: 30px;
}


.container1{margin-left: 50px;
}


.parte{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 40px;
    

}
.container2{
    background: hsl(179, 62%, 43%);
    height: auto;
    width: 100%;
    border-bottom-left-radius: 10px;
    padding-left: 50px;
    padding-top: 5%;
}

.month{
  color: white;
  font-size: 20px;
}

.cash{
    font-weight: 700;
    color: white;
    font-size: 35px;
}


.cash2{
    color: hsla(203, 44%, 93%, 0.664);
}


.paragraph2{
    color: white;
    font-size: 18px;
}

.signup{
    padding: 15px;
    width: 70%;
    border: none;
    background: hsl(71, 73%, 54%);
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 2px hsl(180, 28%, 40%);
margin-top: 15px;
}

.signup:hover{
    cursor: pointer;
}

.container3{
   background: hsl(179, 56%, 56%);
   height: 283px;
   border-bottom-right-radius: 10px;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 5%;  
}

.y{
    color: white;
}


.end{
    color: rgba(255, 255, 255, 0.685);
    line-height: 22px;
}


footer{
    display: none;
}

@media screen and (max-width: 800px)
{
.parte{display: grid;
    grid-template-rows: 200px 250px 250px ;
 }
.maincon{
    width: 100%;
    
}
} 



{}


{}

{}


{}

{}


{}


{}


{}

{}


{}


{}

{}


{}

{}


{}


{}